:root {
  --mainPink: rgba(244, 1, 180, 1);
  --mainGreen: rgba(112, 231, 59, 1);
  --white: #fff;
  --transpirentPink: rgba(244, 1, 180, 0.3);
}

body {
  font-family: "PTSans", sans-serif;
  background-color: #fff;
  margin: 0;
  color: black;
}

h3{
  color: var(--mainPink);
}


h2{
  color: var(--mainPink);
}
.container{
  display: flex;
  flex-direction: column;
}

button{
  background-color: var(--white);
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button a{
  text-decoration: none;
  color: var(--white);
}
#active{
  background-color: var(--mainPink);
}
#active a{
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}


/* HERO SECTION */

#container_1{
  margin: 0;
  padding: 0;
  background-color: var(--transpirentPink);
  /* background-image: url(/img/background.jpg); */
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
  }

 /*********NAVBAR******************/
 .header {
  display: none; /**MOBILE HEADER DISPLAY NONE**/
 }
.main-header{
  box-sizing: border-box;
  display: flex;
  margin-top: 20px;
  padding: 0 5%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.nav-toggle{
  display: none;
}
.nav-toggle-close{
  display: none;
}

.main-navBar{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  font-size: 1.1em;
}

.main-Nav{
  display: flex;
  justify-content: space-between;
    
}
.main-Nav li{
  display: flex;
  align-items: center;
  padding-right: 8%;
  list-style: none;
}


.main-Nav a{
    color: var(--white);
    text-decoration: none;
}
.main-Nav a:hover{
  color: rgba(250, 1, 180, 0.5);
  transition: 350ms ease-in;
}

.nav-cta{
  text-decoration: none;
  background-color: var(--mainPink);
  color: #fff;
  transition: 0.5s ease-in;
}



@media (hover:hover) {
  .nav-cta:hover{
    text-decoration: none;
    background-color: #ffffff;
    color: var(--mainPink)!important;
  }
}
/*********NAVBAR******************/

/*intro Section*/

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
  height: 85%;
}

.intro-txt{
  max-width: 50em;
  width: 45%;
  z-index: 0;
}
.intro h3{
  color: var(--mainPink);
}

@keyframes slideUp {
  from{
    transform: translateY(50px);
  }

  to{
    transform: translateY(0);
  }

}

.intro h1{
  color: var(--white);
  font-size: 3em;
  margin: 0px;
}


.slideUp{
  animation: slideUp 1s ease-in;
}

@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 100%;
  }
}

.hero-cta{
  margin-top: 30px;
}
.contact-cta{
  color: var(--mainPink);
  text-decoration: none;
  transition: 0.5s ease-in;
  animation: fadeIn 2.5s ease-in;
}

.contact-cta:hover{
  color: var(--mainGreen)
}

.about-cta{
  text-decoration: none;
  border: 2px solid var(--mainPink);
  padding: 10px;
  color: var(--mainPink);
  transition: 0.5s ease-in;
  animation: fadeIn 2.5s ease-in;
}

.about-cta:hover{
  text-decoration: none;
  background-color: var(--mainPink);
  border: 2px solid var(--mainPink);
  padding: 10px;
  color: #ffffff;
}

.feature-img{
  height:90dvh;
  position: absolute;
  bottom: 0;
  right: 10%;
  z-index: -1;
}

/* HERO BOTTOM */
.section-bottom {
  position: absolute;
  width: 100%;
  bottom: -10px;
}

.section-bottom img {
  width: 100%;
  height: auto;
}



  /*ABOUT SECTION*/
  #container_2{
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    padding: 0;
    width: 100%;
    background: var(--white)
  }

  .about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    align-items: center;
  }
  .about img{
    max-width: 100%;
    height: auto;
    border-radius: 15px;
  }
  .about-txt{
    padding-left: 2em;
    max-width: 30em;
  }
  .about p{
    padding-right: 20px;
    text-align: justify;
    font-size: 1em;
    line-height: 1.5em;
  }
  .about p span{
    color: var(--mainPink);
    font-weight: bold;
  }
  
/* SERVICE SECTION*/
  div.service-section{
    padding: 30px;
    margin: 20px;
  }
  .service-section h2{
    font-size: 1.5em;
    margin-bottom: 35px;
    text-align: center;
  }

  .sitems{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .sitems p{
    max-width: 12em;
  }
  div.card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    position: relative;
    gap: 10px;
    padding: 0 10dvw;
    z-index: -1;
  }
  .image-stack{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    position: relative;
  }

 .sicon{
  grid-column: 1/ span 7;
  grid-row: 1;
  z-index: 1;
  padding-top: 5%;
  justify-self: center;
 }

 .sicon img{
  height: 50px;
  width: 50px;
 }

 .scircle{
  grid-column: 4/ 4;
  grid-row: 1;
 }

  /*CONTACT SECTION*/
  #container_4{
    display: grid;
    align-items: center;
    margin-top: 5%;
    padding: 0;
    width: 100%;
    background: rgba(250, 1, 180, 1);
    background-image: url(./img/pattern.png);
  }

  .contact_section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    padding-left: 5%;
  }
  .contact_section img{
    max-width: 100%;
    height: auto;
  }

  .contact-txt{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-left: 2em;
  }

  .contact-txt h2{
    color: #ffff;
    margin-top: 0px;
    text-align: center;
  }
  

  .contact-btn a{
    color: rgba(250, 1, 180, 1);
    font-weight: bold;
  }

  ul.list-unstyled{
    display: flex;
    flex-direction: column;
    padding-left: 0px;
  }

  .list-unstyled li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
  }

  .list-unstyled li span{
    font-weight: bold
  }

  .hours{
    margin: 0px;
    color: #ffffff;
  }

  .time{
    padding: 0px;
    margin-left: 85px;
  }
/**********GALLERY SECTION***************/
  #container_5{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    z-index: 0;
  }
  .gallary{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 0 10em;
    padding: 3em 1em;
    width: 70%;
    height: auto;
  }
  .image{
    position: relative;
  }
  .gallary img{
    width: 100%;
    height: 100%;
  }
  .content{
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(250, 1, 180, 0.4);
    font-size: 19px;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.6s;
  }
  .content:hover{
    opacity: 1;
  }

  .content > *{
    transform: translateY(25px);
    transition: 0.6s ease-out;
  }
  .content:hover > *{
    transform: translateY(0px);
  }

  .Gallary-cta{
    margin: 15PX 0;
    text-decoration: none;
    background-color: rgba(250, 1, 180, 1);
    border: 2px solid rgba(250, 1, 180, 1);
    padding: 10px;
    color: #ffffff;
  }

  .swiper-btn{
    color: rgba(250, 1, 180, 0.4);
    transition: color 0.3s ease-in;
  }
  .swiper-btn:hover{
      color: rgba(250, 1, 180, 1);
  }
  .swiper-btn::before,
  .swiper-btn::after{
      font-size: 40px;
  }
  .swiper-button-next{
      right: 0;
  }
  .swiper-button-prev{
      left: 0;
  }
  .swiper-pagination-bullet{
      background-color: rgba(250, 1, 180, 0.4);
      opacity: 1;
  }
  .swiper-pagination-bullet-active{
      background-color: rgba(250, 1, 180, 1);
  }


  /*====FOOTER===*/
  footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(250, 1, 180, 1);
    margin-top: 5%;
  }
  .footer-content{
    display: flex;
    padding: 1em 1.5em;
    align-self: center;
  }

  .footer-content h5{
    color: #fff;
  }


 
  
  /***********CONTACT PAGE**********************/
  /***********CONTACT PAGE**********************/

.Contact-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--transpirentPink);
  background-image: url(./img/pattern.png);
}

.contact{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.social-icons a {
  padding-right: 2%;
}

.contactInfo{
  background-color: var(--white);
  width: 80%;
  padding: 0.5em 1em;
  margin: 20px;
  border-radius: 5px;
  align-self: center;
}

.contact-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5%;
}

.contact-links a {
  color: #000;
  text-decoration: none;
}

.contact-links svg {
  color: var(--mainPink);
  font-size: 1.2em;
}

form{
  background: var(--white);
  display: grid;
  grid-template-columns: repeat(1 1fr) ;
  grid-template-rows:;
  padding: 2vw 4vw;
  margin: 20px;
  border-radius: 5px;
}
form h3{
  font-weight: 800;
  margin-bottom: 20px;
}
form input, form textarea{
  border: 0;
  margin: 10px 0;
  padding: 15px 10px;
  outline: none;
  background: #f5f5f5;
  font-size: 16px;
  border-radius: 5px;
}
form button{
  background: var(--mainPink);
  color: var(--white);
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 15px;
}
   /*CONTACT PAGE ENDS*/


   
   /***********ABOUT US PAGE**********************/
   /***********ABOUT US PAGE***********
   .about {
    padding: 0 2em;
    align-items: center;
   }

   .about-txt {
      padding-left: 0em;
      max-width: fit-content; 
    }
    #Gallary-section{
      margin-top: 50px;
    }

    #Gallary-section h3{
      text-align: center;
    }
   /***********ABOUT US PAGE ENDS**********************/

/*MOBILE RESPONSIVENESS DESIGN*//*MOBILE RESPONSIVENESS DESIGN*//*MOBILE RESPONSIVENESS DESIGN*/
/*MOBILE RESPONSIVENESS DESIGN*//*MOBILE RESPONSIVENESS DESIGN*//*MOBILE RESPONSIVENESS DESIGN*/
@media (max-width:900px){
  #container_2{
    justify-content: center;
  }

  .about{
    grid-template-rows: auto auto;
    grid-template-columns: none;
    margin-top: 3em;
    margin-left: 5em;
  }
  .about img{
    grid-row: 1;
  }
}



@media (max-width:796px) {
  body {
    line-height: 1.6;
  }
  #active{
    background-color: transparent;
  }
  .container{
    display: flex;
    flex-direction: column;
  }

  #container_1{
    margin: 0;
    padding: 0;
    height: 90vh;
    width: 100%;
  }
  /****NAVBAR*****/
  .main-header {
    display: none;
  }
  .header{
    box-sizing: border-box;
    display: flex;
    margin-top: 20px;
    padding: 10px 5% 0 5%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .Nav{
    --gap: 2em;
    position: fixed;
    z-index: 2;
    inset: 0 0 0 50%;
    background: var(--mainPink);
    flex-direction: column;
    padding: min( 30vh, 5rem) 2em;
    margin: 0;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
    list-style: none;
  }

  .Nav li{
    padding: 5px 0px;
    margin: 0px;
    font-size: 1em;
  }

  .Nav a{
    color: var(--white);
    text-decoration: none;
  }

  .nav-cta{
  background-color: var(--white);
  color: var(--mainPink);
  margin-top: 10px;
}

  .Nav[data-visible="true"] {
    transform: translateX(0%);
  }

  .nav-toggle{
    display: block;
    position: absolute;
    background: none;
    z-index: 9999;
    border: 0;
    width: 2rem;
    aspect-ratio: 1;
    right: 2rem;
    margin-top: 0;
    padding: 0;
    font-size: 1.5em;
  }

  .nav-toggle-close{
    display: none;
    position: absolute;
    background: none;
    z-index: 9999;
    border: 0;
    width: 2rem;
    aspect-ratio: 1;
    right: 2rem;
    margin-top: 0;
    padding: 0;
    font-size: 1.5em;
  }

  /*intro Section*/
  .intro {
    padding: 0;
  }
  .intro-txt {
    width: 85%;
    text-align: center;
    margin: 0 auto;
  }
  .intro h1 {
    font-size: 2.4em;
  }
  .intro p{
    font-size: 1em;
  }

  .feature-img{
    height:60dvh;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  
/* section 2*/

div.service-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin: 20px;
}

  #container_2 h2{
    margin:5px 8px;
  }
  /******** About Section********/

  .about{
    grid-template-columns: none;
    margin-top: 2em;
    margin-left: 0;
  }
  .about img{
    width: 100%;
    height: auto;
  }
  .about-txt{
    grid-row: 2;
    padding: 0 5%;
    text-align: justify;
  }
  .about-txt h2{
    margin-bottom: 0;
  }

  #container_4{
    background-image: url(./img/Contact_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
  }

  .contact_section{
    grid-template-columns: none;
    justify-content: center;
  }
  
  .contact_section img{
    display: none;
  }

  .contact-txt{
    align-items: center;
    margin: 0;
  }

  /*************GALLARY********************/
   .content{
    width: 100%;
    height: fit-content;
    margin: 0;
    top: unset;
    bottom: 0;
    left: 0;
    position: absolute;
    background: rgba(250, 1, 180, 0.4);
    font-size: 1em;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: none;
  }

  .slide-content{
    margin: 0 10px;
  }

  /*==CONTACT PAGE===*/

  .contact{
    display: flex;
    flex-direction: column;
    height: 100%;
  }

}

@media (max-width:500px){
  .intro p{
    display: none;
  }
}